.popup__form-field-error{
  position: absolute;
  top: calc(100% + -11px);
  left: 35px;
  min-width: 164px;
  min-height: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  transition: opacity .3s;
}