@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);
.header{
  max-width: 882px;
  min-height: 74px;
  padding: 45px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 881px){
  .header{
    min-height: 56px;
    padding: 28px 0 0 0;
  }
}